* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: url(./lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.header {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.logo {
  width: 100px;
  margin-left: 50px;
}
.navbar {
  justify-self: end;
  margin-right: 15%;
  transform: skew(-20deg);
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline;
  margin: 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: #0049b7;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}
.navbar ul li a:hover {
  color: #beef00;
  border-bottom: 5px solid;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b";
}
.content {
  position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15%;
  position: absolute;
  top: 150px;
  color: brown;
  grid-area: b;
}
#heading {
  color: blue;
}
#subheading {
  color: green;
}
@media screen and (max-width: 768px) {
  .navbar ul li a {
    color: white;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "b";
  }
  .container {
    top: 50vh;
    color: red;
  }
}
